[workspace]
name = "ProteinDiff"
version = "0.1.0"
description = "Multimodal protein generative model using Mixture of Queries and latent diffusion"
channels = ["conda-forge", "nvidia", "pytorch", "bioconda"]
platforms = ["linux-64"]

[environments]
cpu = { features = ["cpu"] , solve-group = "cpu" }
gpu = { features = ["gpu"] , solve-group = "gpu" }

[tasks]
# Training tasks
train = "python proteindiff/training/train/train.py --config config/train.yml"

# Testing tasks
test = "pytest proteindiff/tests/"
test-verbose = "pytest proteindiff/tests/ -v"

# Development tasks
shell = "bash"

[dependencies]
python = ">=3.12"
pytorch = ">=2.9,<2.10"
pip = "*"
numpy = "*"
pandas = "*"
requests = "*"
pathlib = "*"
biopython = "1.84.*"
tqdm = "*"
matplotlib = "*"
einops = "*"

# Development dependencies
pytest = "*"

[pypi-dependencies]
ninja = "*"
jaxtyping = "*"
proteindiff = { path = ".", editable = true }

[feature.cpu]
# CPU-only environment
[feature.cpu.dependencies]
pytorch = { version = ">=2.9,<2.10" }

[feature.gpu]
# GPU environment with CUDA support
channels = ["conda-forge", "nvidia", "pytorch", "bioconda"]
platforms = ["linux-64"]

[feature.gpu.dependencies]
pytorch = { version = ">=2.9,<2.10" }
cuda = ">=12.8,<12.9"

# [feature.gpu.pypi-dependencies]
# flash-attn = { git = "https://github.com/Dao-AILab/flash-attention.git", rev = "5059fd5" }

