[workspace]
name = "ProteinDiff"
version = "0.0.1"
description = "Multimodal protein generative model"
channels = ["conda-forge", "nvidia", "pytorch", "bioconda"]
platforms = ["linux-64"]

[environments]
cpu = { features = ["cpu"] , solve-group = "cpu" }
gpu = { features = ["gpu"] , solve-group = "gpu" }

[dependencies]
python = ">=3.12"
pytorch = ">=2.9,<2.10"
pip = "*"
numpy = "*"
pandas = "*"
pathlib = "*"
biopython = "1.84.*"
tqdm = "*"
matplotlib = "*"
einops = "*"
omegaconf = "*"
hydra-core = "*"
pytest = "*"

[pypi-dependencies]
jaxtyping = "*"
proteindiff = { path = ".", editable = true }

[feature.cpu]

[feature.gpu]
channels = ["conda-forge", "nvidia", "pytorch", "bioconda"]
platforms = ["linux-64"]

[feature.gpu.system-requirements]
cuda = "12"

[feature.gpu.dependencies]
cuda = ">=12.9,<12.10"
flash-attn = ">=2.8"

