
# both use this
x-common: &common
  image: proteindiff:dev # make sure to build first
  gpus: all # or "gpus: 1" for a single GPU
  working_dir: /ProteinDiff
  volumes: # mounts
    - ${PWD}/proteindiff:/ProteinDiff/proteindiff # source code
    - ${PWD}/config/train.yml:/ProteinDiff/config/train.yml # training config
    - ${DATA_PATH}:/mnt/data:ro # data
    - ${EXP_PATH}:/mnt/experiments # training experiments

  environment:
    DATA_PATH: /mnt/data
    EXP_PATH: /mnt/experiments
    PYTHONPATH: "/ProteinDiff"


services:
  debug:
    <<: *common
    stdin_open: true   # same as docker run -i
    tty: true          # same as docker run -t
    command: /bin/bash -l -i  # run a shell
  train:
    <<: *common
    command: python proteindiff/training/train/train.py --config config/train.yml
